.banner {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  padding: 40px 60px;
  width: calc(100% + 120px); /* 100% + left+right padding */
  margin: 70px -60px 0 -60px; /* pull sides out */
  height: 70vh;
  background-color: var(--bg-color);
  box-sizing: border-box;
}


.banner-text {
  flex: 1;
  color: var(--text-color); /* dynamic text color */
}

.btn {
  background-color: #ff3c00; /* brand button stays the same */
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e63600;
  transform: translateY(-3px);
}

.banner-image img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .banner-text {
    margin-bottom: 20px;
  }

  .banner-image img {
    width: 80%;
  }
}
